* {
  font-family: Optima, sans-serif;
}

.tile {
  height: 100px;
  width: 100px;
}

.tile1{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.tile2{
  border: 1px solid black;
  border-top: none;
}

.tile3{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.tile4{
  border: 1px solid black;
  border-left: none;
}

.tile5{
  border: 1px solid black;
}

.tile6{
  border: 1px solid black;
  border-right: none;
}

.tile7{
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.tile8{
  border: 1px solid black;
  border-bottom: none;
}

.tile9{
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.text {
  margin-left: 20px;
  font-size: 62pt;
}

.board {
  display: flex;
  width: 304px;
  border-radius: 10px;
  flex-wrap: wrap;
  background-color: beige;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 20px;
  background-color: lightgray;
  border-radius: 10px;
  margin-bottom: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 325px;
  padding: 10px;
  margin: 15px;
}

.newGame {
  margin: 5px;
}

.title {
  text-align: center;
  width: 304px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: lightblue;
}